@{
    ViewData["Title"] = "Home Page";
}


<div class="text-center" id="txt">
    <h1 class="display-4">Welcome to East Alabama Banking</h1>
    <p>We are glad to have you visit. If you are a current customer you may proceed to the login.<br />
        If you are new to our amzing bank, you may proceed to the registration page to provide a few details<br />
         and create an account with us.</p>
</div>
