@inject IHttpContextAccessor _contextAccessor
<h3>Make a Transfer</h3>
@model Account
@{
    var accID = _contextAccessor.HttpContext.Session.GetInt32("accountid");

}
<table class="table">
    <tr>
        <th>Account ID</th>
        <th>Account Type</th>
        <th>Transfer Type</th>
        <th>Current Balance</th>
        <th>Transfer Amount</th>
    </tr>

    <tr id="txt">
        <form method="post" asp-controller="Account" asp-action="Transaction">

            <td>@accID</td>
            <td>@Model.accounttype</td>
        <td>
            <label for="transactionType"> <input type="radio" id="deposit" name="transactionType" value="deposit" />Deposit</label><br />
            <label for="transactionType"> <input type="radio" id="withdraw" name="transactionType" value="withdraw" />Withdraw</label>
        </td>
            <td>$@Model.balance</td>
            <td>
            
                <input type="text" id="amount" name="transactionAmount" />     <input type="submit"  value="Transfer" />
            
            </td>
        </form>

        
    </tr>
</table>

<a asp-controller="customer" asp-action="logout">Logout</a>
