
@model Account
<h3>Transaction Completed</h3>

<div>Your new balance is $@Model.balance</div>


<a asp-controller="home" asp-action="Dashboard" accesskey="">Dashboard</a>     <a asp-controller="customer" asp-action="logout">Logout</a>
