@inject IHttpContextAccessor _contextAccessor
@*<h2>@_contextAccessor.HttpContext.Session.GetString("")</h2>
*@<h3>Make a Transfer</h3>
@model Account
<table class="table">
    <tr>
        <th>Account ID</th>
        <th>Account Type</th>
        <th>Transfer Type</th>
        <th>Current Balance</th>
        <th>Transfer Amount</th>
    </tr>

    <tr>
        <form method="post" asp-controller="Account" asp-action="Transaction">
            <td>@Model.accountid</td>
            <td>@Model.accounttype</td>
            <td><input type="radio" id="deposit" name="transactionType" value="Deposit" /><label for="deposit">Deposit</label><br />
                    <input type="radio" id="withdraw" name="transactionType" value="Withdraw" /><label for="withdraw">Withdraw</label>
            </td>
            <td>$@Model.balance</td>
            <td>
            
                <input type="text" id="amount" name="transactionAmount" />     <input type="submit" value="Transfer" />
            
            </td>
        </form>


    </tr>
</table>

<a asp-controller="customer" asp-action="logout">Logout</a>
