@inject IHttpContextAccessor _contextAccessor
@model IEnumerable<Account>
<h3>Bank Accounts</h3>
<style>
    h5 {
        text-align: right;
    }
</style>
<h5>
    <form asp-action="CreateAccount" asp-controller="Account"><input type="submit" value="Create Account" /></form>
</h5>
<table class="table">
    <tr>
        <th>Account ID</th>
        <th>Account Type</th>
        <th>Balance</th>
    </tr>
    @foreach(var account in Model)
    {
        <tr id="txt">
            <td><form method="post" asp-controller="Account" asp-action="ChosenAccount"><input type="submit" value="@account.accountid" name="testing" /></form></td>
            <td>@account.accounttype</td>
            <td>$@account.balance</td>

        </tr>
    }
</table>

<a asp-controller="customer" asp-action="logout">Logout</a>
