<h2>Login</h2>
@ViewBag.msg
<form method="post" asp-controller="Customer" asp-action="login">
    Username : <input type="text" name="login" />
    <br />
    <br />
    Password : <input type="password" name="password" />
    <br />
    <input type ="submit" value="Login" />
</form>