

<h2>Login</h2>
@ViewBag.msg
@if (TempData["AlertMessage"] != null)
{
    <div class="alert aler-success">
        <strong>Success!</strong>@TempData["AlertMessage"]
    </div>
}
<form method="post" asp-controller="Customer" asp-action="login">
    Username : <input id="txt" type="text" name="login" />
    <br />
    <br />
    Password : <input id="txt" type="password" name="password" />
    <br />
    <input type="submit" value="Login" />
</form>