@model Account
<h2>Make Transaction</h2>
@ViewBag.msg

<form method="post" asp-controller="Customer" asp-action="deposit">
    Deposit : <input type="number" name="deposit" />
    <br />
    <input type="submit" value="deposit" />
</form>

<form method="post" asp-controller="Customer" asp-action="withdraw">
    Username : <input type="number" name="withdraw" />
    <br />
    <input type="submit" value="withdraw" />
</form>