@model Customer
<h2>Welcome @Model.name </h2>
<h3>Personal Info</h3>
<table class="table">
    <tr>
        <th>User ID</th>
        <th>Name</th>
    </tr>
    <tr>
        <td>@Model.userid</td>
        <td>@Model.name</td>
    </tr>
    </table>


<a asp-controller="customer" asp-action="logout">Logout</a>