html {
  font-size: 14px;
}

@media (min-width: 768px) {
  html {
    font-size: 20px;
  }
}

html {
  position: relative;
  min-height: 100%;
}

body {
    margin-bottom: 60px;
/*    min-height: 75rem;
    padding-top: 4.5rem;*/
}

#home {
    background-image: url('../Images/TechBackgroundLight.jpg');
    background-size: cover;
    background-position:center;
}

#txt {
    background-color: white;
}